<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Fireball</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Office Red">
                <SvgColor Name="Paint" Value="12,12,12" />
                <SvgColor Name="Paint High" Value="38,38,38" />
                <SvgColor Name="Paint Shadow" Value="54,54,54" />
                <SvgColor Name="Paint Deep Shadow" Value="64,64,64" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="110,110,110" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Major" Value="104,104,104" />
                <SvgColor Name="Brush Minor" Value="68,68,68" />
                <SvgColor Name="Accent Paint" Value="Maroon" />
                <SvgColor Name="Accent Paint Light" Value="80,80,80" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="71,134,181" />
                <SvgColor Name="Key Paint" Value="Maroon" />
                <SvgColor Name="Key Brush" Value="240,240,240" />
                <SvgColor Name="Key Brush Light" Value="110,110,110" />
                <SvgColor Name="Red" Value="222,56,0" />
                <SvgColor Name="Green" Value="83,151,128" />
                <SvgColor Name="Blue" Value="56,126,196" />
                <SvgColor Name="Yellow" Value="221,183,122" />
                <SvgColor Name="Black" Value="192,192,192" />
                <SvgColor Name="Gray" Value="91,91,92" />
                <SvgColor Name="White" Value="54,54,54" />
                <SvgColor Name="altRed" Value="222,56,0" />
                <SvgColor Name="altGreen" Value="83,151,128" />
                <SvgColor Name="altBlue" Value="56,126,196" />
                <SvgColor Name="altYellow" Value="221,183,122" />
                <SvgColor Name="altBlack" Value="192,192,192" />
                <SvgColor Name="altWhite" Value="54,54,54" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Version" value="2.1.84.0" />
    <add key="AppVersion" value="2.1.84.0" />
    <add key="HORIZ_EDHM_Version" value="1.52.1.0" />
    <add key="ODYSS_EDHM_Version" value="2.15.3.0" />
    <add key="FirstRun" value="true" />
    <add key="GameProcessID" value="Elite - Dangerous (CLIENT)" />
    <add key="ShowTips" value="false" />
    <add key="Languages" value="en,ru,fr,it,de,pt" />
    <add key="UpdatesURL" value="https://raw.githubusercontent.com/BlueMystical/EDHM_UI/main/latest_version_info.json" />
    <add key="EDHM_DOCS" value="%USERPROFILE%\EDHM_UI" />
  </appSettings>
</configuration>