<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Fireball</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="Version" value="2.1.52.0" />
    <add key="AppVersion" value="2.1.52.0" />
    <add key="HORIZ_EDHM_Version" value="1.52.1.0" />
    <add key="ODYSS_EDHM_Version" value="2.11.2.0" />
    <add key="FirstRun" value="true" />
    <add key="GameProcessID" value="Elite - Dangerous (CLIENT)" />
    <add key="ShowTips" value="true" />
    <add key="Languages" value="en,ru,fr,it,de,pt" />
    <add key="UpdatesURL" value="https://raw.githubusercontent.com/BlueMystical/EDHM_UI/main/latest_version_info.json" />
  </appSettings>
  
</configuration>
